{
  "openapi": "3.1.0",
  "info": {
    "title": "ConectaOne Innovation & Ecosystem API",
    "description": "API pública da ConectaOne para descoberta de serviços de inovação, ecossistema corporativo e envio de contato.",
    "version": "1.0.0",
    "contact": {
      "name": "ConectaOne Innovation Team",
      "email": "innovation@conectaone.com",
      "url": "https://conectaone.com"
    }
  },
  "servers": [
    {
      "url": "https://conectaone.com",
      "description": "Servidor principal de produção ConectaOne"
    }
  ],
  "paths": {
    "/api/contact": {
      "post": {
        "summary": "Enviar solicitação de contato ou proposta de inovação",
        "operationId": "submitContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "email", "message"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do contato ou responsável"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-mail corporativo para retorno"
                  },
                  "company": {
                    "type": "string",
                    "description": "Nome da empresa ou organização"
                  },
                  "message": {
                    "type": "string",
                    "description": "Mensagem ou detalhamento da demanda de inovação"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem recebida com sucesso"
          },
          "400": {
            "description": "Parâmetros de requisição inválidos"
          }
        }
      }
    }
  }
}
